.title {
  color: tomato;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.square {
  width: 15px;
  height: 15px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: tomato;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #555;
}

.rectangle {
  width: 30px;
  height: 15px;
  background: teal;
}

.art {
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  margin: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}